@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Spartan:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
   font-size: 20px; /* might delete this */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Spartan", sans-serif;
  background-color: rgba(177, 177, 177, 0.521) !important;
  /* background-color: rgba(73, 83, 228, 0.788) !important; */
}


/* media query css */

@media screen and (max-width: 1024px) {
  * {
    color: white;
  }

  .jumbotron {
    position: absolute;
    top: 18% !important;
    width: 100%;
    max-width: 100%;
  }

  .jumbotron .container h4 {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    font-family: "Spartan", sans-serif;
  }
  
  .jumbotron .container h1 {
    font-size: 3rem;
    color: white;
    font-family: "Spartan", sans-serif;
  }
  
  .jumbotron .container p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    font-family: "Spartan", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  body {
    background-color: #050A30 !important;
  }

  .card {
    background-color: black !important;
  }
}

@media screen and (max-width: 768px) {
  * {
    color: white;
  }

  .navbar {
    letter-spacing: 0.1rem;
    padding: 10px 0 !important;
  }

  .jumbotron {
    position: absolute;
    top: 13% !important;
    width: 100%;
    max-width: 100%;
  }


  .jumbotron .container h4 {
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    font-family: "Spartan", sans-serif;
  }
  
  .jumbotron .container h1 {
    font-size: 2rem;
    color: white;
    font-family: "Spartan", sans-serif;
  }
  
  .jumbotron .container p {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    font-family: "Spartan", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }


  body {
    background-color: #800020 !important;
  }

  .card {
    background-color: black !important;
  }
}

@media screen and (max-width: 480px) {
  * {
    color: white;
  }

  .jumbotron {
    position: absolute;
    top: 9% !important;
    width: 100%;
    max-width: 100%;
  }


  .jumbotron .container h4 {
    font-size: 1rem;
    font-weight: 400;
    color: white;
    font-family: "Spartan", sans-serif;
  }
  
  .jumbotron .container h1 {
    font-size: 1.5rem;
    color: white;
    font-family: "Spartan", sans-serif;
  }
  
  .jumbotron .container p {
    font-size: .75rem;
    font-weight: 300;
    color: white;
    font-family: "Spartan", sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }

  body {
    background-color: #F4869C !important;
  }

  .card {
    background-color: black !important;
  }
}

/* Home CSS */
.navbar {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.3rem;
  background: rgb(29, 29, 192) !important;
  padding: 15px 0 !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  color: white;
  padding-left: 20px;
  /* padding-top: 20px;
  padding-bottom: 20px; */
}


.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #7bafd4;
}


.background img {
  width: 100%;
}

/* CSS to add space so navbar won't block the header */
.nav-space:before {
  display: block;
  content: "";
  height: 5rem;
}

/* Jumbotron CSS */


.jumbotron {
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
}

.jumbotron h4 {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  font-family: "Spartan", sans-serif;
}

.jumbotron h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: "Spartan", sans-serif;
}

.jumbotron p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

/* OG Header CSS */

/* .header {
  position: absolute;
  top: 40%;
  width: 100%;
  max-width: 100%;
}

.header h4 {
  font-size: 3rem;
  font-weight: 400;
  color: white;
  font-family: "Spartan", sans-serif;
}

.header h1 {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  font-family: "Spartan", sans-serif;
}

.header p {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  font-family: "Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
} */

/* About Me CSS */

#about .btn {
  border: 3px solid white;
  width: 30%;
  padding: 15px 25px;
  margin-top: 15px;
  background: black;
  border-radius: 10px;
}

#about .btn:hover {
  cursor: pointer;
  border: 3px solid #7bafd4;
}

#about .btn a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

/* Projects CSS */

#projects .button {
  border: 3px solid white;
  width: 30%;
  padding: 15px 25px;
  margin-top: 15px;
  background: black;
  border-radius: 10px;
}

#projects .button:hover {
  cursor: pointer;
  border: 3px solid #7bafd4;
}

#projects .button a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

/* #projects img {
    height: 350px;
} */

/* Contact CSS */

#contact .button {
  border: 3px solid white;
  width: 30%;
  padding: 15px 25px;
  margin-top: 15px;
  background: black;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

#contact .button:hover {
  cursor: pointer;
  border: 3px solid #7bafd4;
}

/* footer css */

.sm-links a {
  color: white;
}

.sm-links a:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}